	<ul class="profile"> 
		
		<li class="mobile-nav">
			<a href="#" onclick="return false;" class="btn-circle btn-sm">
				<i class="fa fa-bars"></i>
			</a>
		</li>
	</ul>

	<div class="main-search">
		<input type="text" placeholder="Search ..." id="msearch">
		
		<label for="msearch">
			<i class="fa fa-search"></i>
		</label>
		<button>
			<i class="fa fa-arrow-circle-o-right"></i>
		</button>
	</div>

	<div class="main-brand">
		<div class="main-brand__container">
			<div class="main-logo"><img src="res/images/logo.png"></div>
		</div>
	</div>
