<div class="row" ng-controller="homeCtrl">
	<div class="col-md-6">
		<article class="widget">
			<header class="widget__header">
				<div class="widget__title">
					<i class="fa fa-bell-o"></i><h3>All the tools to achieve your diet goals</h3>
				</div>
				
			</header>

			<div class="widget__content filled">
				
				<div class="row web_view_spalsh">

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="i in [1,2,3,4]">
						<img ng-src="res/images/front_{{i}}.png" alt="arrow" class="rotate-img"/>
					</div>					

				</div>

				<div class="row web_view_spalsh">

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="i in [5,6,7,8]">
						<img ng-src="res/images/front_{{i}}.png" alt="arrow" class="rotate-img"/>
					</div>					

				</div>

				<div class="row web_view_spalsh">

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="i in [9,10,11,12]">
						<img ng-src="res/images/front_{{i}}.png" alt="arrow" class="rotate-img"/>
					</div>					

				</div>

				<div class="row web_view_spalsh">

					<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" ng-repeat="i in [13,14,15,16]">
						<img ng-src="res/images/front_{{i}}.png" alt="arrow" class="rotate-img"/>
					</div>					

				</div>				

				<div class="row mobile_view_spalsh">
					
					<div class="col-xs-12">
						<img src="res/images/front_mb_view.png" alt="arrow" />
					</div>

				</div>

				<hr/>

				<div class="row">

					<div class="col-md-12">
						<p style="text-align:justify;">
							Holmusk Big Data. Technology. Healthcare. Holmusk is pioneering a new approach of looking at diabetes. We're bringing cutting-edge science and user experience together. We are on a mission to engage people to bring diabetes under control.
						</p>
					</div>
					
				</div>
				

			</div>
		</article><!-- /widget -->
	</div>

	<div class="col-md-6">
		<article class="widget">
			<header class="widget__header">
				<div class="widget__title">
					<i class="fa fa-bullhorn"></i><h3>What do we offer you?</h3>
				</div>
				
			</header>

			<div class="widget__content filled">
				
				
				<div class="row">

					<div class="col-md-12">
						<p style="text-align:justify;">
							
							<ul class="splash-listing">
								<li><div class="loader loader-small"></div> <span class="splash-heading"> A food diary <br/></span><span class="splash-listing-des">to keep track of what you're eating</span></li>
								<li><div class="loader loader-blue loader-small"></div> <span class="splash-heading"> An exercise diary <br/></span><span  class="splash-listing-des">to record all the calories you burn</span></li>
								<li><div class="loader loader-green loader-small"></div> <span class="splash-heading"> A weight chart and journal <br/></span><span  class="splash-listing-des">to record your progress</span></li>
								<li><div class="loader loader-red loader-small"></div> <span class="splash-heading"> Healthy recipes <br/></span><span  class="splash-listing-des">a large collection for your diet</span></li>
								<li><div class="loader loader-yellow loader-small"></div> <span class="splash-heading"> Nutrition info <br/></span><span  class="splash-listing-des">for all foods, brands and restaurants</span></li>
								<li><div class="loader loader-violet loader-small"></div> <span class="splash-heading"> Mobile apps <br/></span><span  class="splash-listing-des">for iPhone, iPad, Android, BlackBerry and Windows</span></li>
								</ul>
						</p>
					</div>
					
				</div>
				

			</div>
		</article><!-- /widget -->
	</div>

</div>

<div class="row">

	<div class="col-md-12">
		<article class="widget">
			<header class="widget__header">
				<div class="widget__title">
					<i class="fa fa-cubes"></i><h3>About us</h3>
				</div>
				
			</header>

			<div class="widget__content filled">
				
				
				<div class="row">

					<div class="col-md-12">
						<p style="text-align:justify; padding-top:15px; padding-bottom:15px;">
							We deliver the best of big data science, behavioral medicine and consumer technology to tackle chronic diseases.In this century, for the first time in human history, chronic diseases (Non-communicable diseases) kill more people than infectious diseases. That's a BIG DEAL. But it does not have to be. The future of chronic care is going to be about making major life style choices and not about medicine only. Holmusk is commited to deliver directly in the hands of patients, doctors and family members.
						</p>
					</div>
					
				</div>
				

			</div>
		</article><!-- /widget -->
	</div>

</div>