<div class="user-info">
	<figure class="rounded-image profile__img">
		<img class="media-object" src="res/images/profile_x.png" alt="user">
	</figure>
	<h2 class="user-info__name">Sara</h2>
	<h3 class="user-info__role">Logged in</h3>
	<ul class="user-info__numbers">
		
	</ul>
</div> <!-- /user-info -->

<ul class="main-nav">
	<li class="main-nav--active">
		<a class="main-nav__link" href="#home">
			<span class="main-nav__icon"><i class="fa fa-home"></i></span>
			Home
		</a>
	</li>
	<li>
		<a class="main-nav__link" href="#mydata">
			<span class="main-nav__icon"><i class="fa fa-edit"></i></span>
			My food diary
		</a>
	</li>
</ul> <!-- /main-nav -->